{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% if ea.crud.currentPage == constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Crud::PAGE_INDEX') %}
    {% for service in field.value -%}
        {{ loop.index0 > 0 ? ', ' }}{{ service }}
    {%- endfor %}
{% else %}
    {% for service in field.value %}
        <dl class="row">
            <dt class="col-sm-2">{{ 'Type'|trans }}</dt>
            <dd class="col-sm-10">{{ service.type }}</dd>

            <dt class="col-sm-2">{{ '1Password url'|trans }}</dt>
            <dd class="col-sm-10"><a href="{{ service.onePasswordUrl }}">{{ service.onePasswordUrl }}</a></dd>
        </dl>
    {% endfor %}
{% endif %}
